
body{

    background-image: url(../img/fundo_login.jpg), url(../img/fundo_login.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top, right; 
}
table{

    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    background-color:white;
}

th, td {
    padding: 15px;
    text-align: left;
}